{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-primary">
    <div class="container px-5">
        <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/ats_logo.png' %}" alt="ats-logo" height="auto" width="125"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navibar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            <span class="visually-hidden">Toggle navigation</span>
        </button>
        <div class="collapse navbar-collapse" id="navibar">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Főoldal</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Jelöltek</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'jobs-list' %}">Álláshirdetések</a></li>
                {% if user.is_authenticated %}
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <li class="nav-item"><a class="nav-link text-danger bg-dark" href="{% url 'logout' %}"> >>> KILÉPÉS <<< </a></li>
                </form>
                {% else %}
                <form action="{% url 'xlogin' %}" method="post">
                    {% csrf_token %}
                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#login_modal">Bejelentkezés</button>
                </form>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
